/* @media screen and (max-width: 650px) {
    .team-pic{
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }
}

@media screen and (min-width: 650px) {
    .team-pic{
        width: 250px;
        height: 250px;
        border-radius: 150px;
    }
} */

.team-btn{
    background: linear-gradient(45deg, #F31260, #F5A524) !important;
}

.team-btn-2{
    color: white !important;
}
.team-pic{
    width: 250px;
    height: 250px;
    border-radius: 150px;
}