/* @media only screen and (max-width: 650px) {
    .team-pic{
        width: 200px !important;
        height: 200px !important;
        border-radius: 100px;
    }
}

@media only screen and (min-width: 650px) {
    .team-pic{
        width: 250px !important;
        height: 250px !important;
        border-radius: 150px;
    }
} */

.team-btn{
    background: linear-gradient(45deg, #F31260, #F5A524) !important;
}

.team-btn-2{
    color: white !important;
}

.hidden{
    opacity: 0;
    filter: blur(10px);
    transform: translateY(25%);
    transition: all 1s;
}

.hidden-left{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-200%);
    transition: all 1s;
}

.hidden-right{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(200%);
    transition: all 1s;
}

.hidden-bottom{
    opacity: 0;
    filter: blur(10px);
    transform: translateY(50%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
    transition: all 1s;
}

@media (prefers-reduced-motion: no-preference){
    .hidden{
        transition: none;
    }
}