/* aplfantasy.css */

/* Fantasy Game */

.fantasytitle
{
font-family: 'Montserrat';
font-style: italic;
font-weight: 900;
font-size: 59px;
line-height: 72px;
display: flex;
align-items: center;
letter-spacing: 0.15em;
text-transform: uppercase;

color: #FFFFFF;


    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
}

.player-row {
  display: flex;
  justify-content: center; /* Center the players in the row */
  margin-bottom: 10px; /* Adjust as needed for spacing */
}
.sponsor-section
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Money Left Section */
.money-left {
  background-color: #282828; /* The green background color */
  color: white; /* Black color for the text */
  font-weight: bold; /* Bold font weight */
  font-size: 24px; /* Large font size for visibility */
  text-align: center; /* Center the text */
  padding: 15px 20px; /* Padding around the text */
  border-radius: 4px; /* Rounded corners */
  margin-bottom: 20px; /* Margin at the bottom */
  width: 100%; /* Full width to match the design */
}

.fantasy-game-container {
    color: #fff;
    background-color: #1a1a1a;
    padding: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0% 10% 0 10% ;
  }
  
  .fanup-logo {
    width: 266px;
    height: 77px;
    margin-bottom: 5vh;

}
  .sponsortext
  {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.21em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
  }


  
  .leftcol {
    width: 70vw; /* You may adjust this value to find the best fit for your layout */
    align-items: center;
    align-self: center;
    justify-content: center;
  }
  
  .football-field {
    background: url('footballfield.png') no-repeat center; /* This will align your background to the left */
    background-size: contain;
    position: relative;
    width: 100%; /* Make this 100% of the parent container's width */
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin-left: 0; /* Adjust or remove any left margin if needed */
    margin-right: auto; /* This will keep the field aligned to the left */
  }
  .rightcol
  {
    width: 25vw;
    align-items: center;
    align-self: center;
    justify-content: center;
 }

 .rightcolcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
 }
  
  .player-jersey {
    position: relative;
    text-align: center;
  }
  
  .player-jersey img {
    width: 125  px; /* Adjust according to your design */
  }
  
  .sidebar {
    background-color: #333;
    padding: 20px;
    border-radius: 8px; /* Adjust if needed to match the corner radius */
    height: auto; /* Set to auto so it grows with content */
    margin: 0 0 20px 0; /* Adjust the margin as needed */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Center the items on cross-axis */
  }
  
  .sidebar h3 {
    font-size: 24px; /* Adjust the font size as needed */
    color: #fff;
    margin-bottom: 40px; /* Space between 'Money Left' and dropdown */
    font-weight: 700; /* Bold font weight */
    text-align: center;
    width: 100%; /* Full width */
  }
  
  .sidebar .dropdown-button {
    font-size: 18px; /* Adjust the font size as needed */
    text-transform: uppercase; /* Uppercase text */
    margin-bottom: 30px; /* Space between dropdown and 'Selected Players' */
    font-weight: 500; /* Medium font weight */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%; /* Full width */
  }
  

  .sidebar li {
    background-color: #4DFFA8; /* Background color for list items */
    color: black; /* Text color for player name */
    margin-bottom: 10px;
    padding: 15px 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column; /* Stack name and position on top of each other */
    align-items: flex-start; /* Align items to the left */
  }
  
  .sidebar li .player-name {
    font-size: 18px; /* Adjust the font size as needed for the name */
    font-weight: 500; /* Medium font weight for the name */
  }
  
  .sidebar li .player-position {
    font-size: 14px; /* Smaller font size for the position */
    color: black; /* Text color for the position */
    font-weight: 300; /* Lighter font weight for the position */
    margin-top: 5px; /* Space between name and position */
  }

  .player-name-bg {
    background-color: #1F335B; /* The blue background */
    padding: 5px; /* Or as per your design */
    color: #FFFFFF; /* Assuming you want white text */
  }
  
  .player-price-bg {
    background-color: #F4F4F4; /* The grey background */
    padding: 5px; /* Or as per your design */
    color: #000000; /* Assuming you want black text */
  }
  
  
  /* NextUI Dropdown styles if needed */
/* Make the dropdown button full width and background white */
.dropdown-button {
  width: 100%; /* Full width to match the 'Money Left' section */
  background-color: #FFFFFF; /* White background color */
  border: 1px solid #CCCCCC; /* Add border to match the design */
  color: black; /* Black color for the text to ensure visibility on a white background */
  padding: 10px 20px; /* Add some padding */
  border-radius: 4px; /* Match border-radius of the 'Money Left' section */
  text-align: center; /* Center the text */
  margin-bottom: 20px; /* Add some margin at the bottom */
  cursor: pointer; /* Change the cursor to indicate it's clickable */
  /* Add any other styling you need to match your design */
}

/* White background for the dropdown menu items */
.dropdown-menu {
  background-color: #FFFFFF; /* White background color */
  /* Style the dropdown menu further as needed */
}

/* Style for the dropdown item on hover to match the overall design */
.dropdown-item:hover {
  background-color: #E8E8E8; /* Light grey background on hover */
}

  
  .dropdown-item {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-item:hover {
    background-color: #666;
  }
