/* aplfantasy.css */

/* Fantasy Game */

.fantasytitle
{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    font-size: 4em;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 15px;
}

.fantasy-game-container {
    color: #fff;
    background-color: #1a1a1a;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1% 10% 0 10% ;
  }
  
  .fanup-logo {
    width: 266px;
    height: 77px;
}

  


  .sponsortext
  {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.21em;
    text-transform: uppercase;
    color: #FFFFFF;
  }


  
  .leftcol {
    width: 60vw; /* You may adjust this value to find the best fit for your layout */
  }
  
  .football-field {
    background: url('footballfield.png') no-repeat left center; /* This will align your background to the left */
    background-size: contain;
    position: relative;
    width: 100%; /* Make this 100% of the parent container's width */
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin-left: 0; /* Adjust or remove any left margin if needed */
    margin-right: auto; /* This will keep the field aligned to the left */
  }
  .rightcol
  {
    width: 30vw;
 }
  
  .player-jersey {
    position: relative;
    text-align: center;
  }
  
  .player-jersey img {
    width: 50px; /* Adjust according to your design */
  }
  
  .player-jersey Text {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -20px; /* Adjust according to your jersey image */
    font-size: 0.8rem;
  }
  
  .sidebar {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    width: 15vw;
    height: 50vh;
  }

  
  .sidebar h3 {
    margin-bottom: 10px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    background-color: #444;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* NextUI Dropdown styles if needed */
  .dropdown-button {
    background-color: #555;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
  }
  
  .dropdown-menu {
    background-color: #555;
    border-radius: 8px;
  }
  
  .dropdown-item {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-item:hover {
    background-color: #666;
  }
