.homeslotspage {
    position: relative;
}

.homeslotspage:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url('../../assets/images/GoalBlueSky.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.hssbackg {
    position: relative;
    padding: 18% 10% 0% 10%;
}
.hssquote{
    text-align: center;
}